
<h1> Welcome ,Admin</h1>
<h2><b>Here are the orders:</h2</b>

<table class="table">
  <thead>
 <tr>
<th scope="col"> Name</th>
   <th scope="col">Address</th>
   <th scope="col">Pay type</th>
   </tr>
<%@orders.each do |order|%>

<td><br><b> <%=order.name%></b></td>
<td><br><b><%=order.address%></b></td>
<td><br><b><%=order.pay_type%></b></td>

</tr>

 <%end%>
  </tbody>
</table>

<br><h2>Managing users:</h2>
<%@users.each do |u|%>
<br>Email:<b> <%=u.email%></b>
<%= link_to 'Destroy account', admin_path, method: :get, data: { confirm: "You sure?" }, class: "btn btn-primary btn-md" %>

<%end%> 
<br> <br>
<h2>Order by payment type - useful graph</h2>
<%= column_chart Order.group(:pay_type).count, { width: "900x", height: "600px",colors: ["#b00", "#666"], download: true}  %>

<li><%= link_to "Logout", destroy_user_session_path, method: "delete" %></li>
