<h1>Chocolate Shop</h1>
<h2>Chocolate Bars: enjoy the moment</h2>

<form action="/search" method="GET">
  <input type="text" name="s" >
 <button type="button" class="btn btn-outline-success"><input type="submit" value="Search for Bar names"></button> 


  </select>


</form> <br> Filter by company_maker
<form action="/search" method="GET">
<select name="a" onchange="this.form.submit()" >
    <% @makerc.each do |ba| %>
      <option value="<%= ba.company_maker %>"><%= ba.company_maker%></option>
    <% end %>
  </select>
<button type="button" class="btn btn-outline-success"><input type="submit"></button>
</form>
</form> <br> Filter by cocoa_percent
<form action="/search" method="GET">
<select name="b" onchange="this.form.submit()" >
    <% @percent.each do |percent| %>
      <option value="<%= percent.cocoa_percent%>"><%= percent.cocoa_percent%></option>
    <% end %>
  </select>
<button type="button" class="btn btn-outline-success"><input type="submit"></button>
</form>

<div class="flickr_pagination">
<%= will_paginate @chocolate_bars %>
</div>

</table>
<ul class="cshop">
<!-- https://github.com/mislav/will_paginate/ -->


<div class="row">

          

<!-- Rails5 book -->
<% cache @chocolate_bars do %>
<% @chocolate_bars.each do |bar| %>
<% cache bar do %>
<!-- source idea https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/index.html -->
<div class="col-lg-4 col-md-6 mb-4" >
<div class="card h-45"style=" border-color:#f2e2d0; border-style: solid;" >
<div class="card-body" >
<h4 class="card-title" > </h4>
<h3>Name:<%= bar.bar_name %></h3>
<p>Price: £<%= bar.price %></p>
<p>Company maker: <%= bar.company_maker %></p>
<p>Review date: <%= bar.review_date %></p>
<p>Cocoa Percent: <%= bar.cocoa_percent %></p>
<button type="button" class="btn btn-outline-success"><%= button_to 'Add to Cart', line_items_path(chocolate_bar_id: bar) %></button>
</div>
</div>
</div>
<% end %>
<% end %>
<% end %>
<!-- https://github.com/mislav/will_paginate/ -->
<!-- http://mislav.github.io/will_paginate/ -->
<div class="flickr_pagination">
<%= will_paginate @chocolate_bars %>
</div>

</ul>
