
<% if @bars%>
<%@bars.each do |b|%>
<%=b.bar_name%>
<p>$<%= b.price %></p>
<p><%= b.company_maker %></p>
<p><%= b.review_date %></p>
<p><%= b.cocoa_percent %></p>

<%= button_to 'Add to Cart', line_items_path(chocolate_bar_id: b) %>
<%end%>
<%end%>


<table class="table">
  <thead>
 <tr>
    <th scope="col">Chocolate Bar name</th>
<th scope="col">Price</th>
<th scope="col">Company maker</th>
<th scope="col">Cacao percent</th>
<th scope="col">Country origin</th>
</tr>
<% @c.each do |x|%>
 <tr>
<td><%=x.bar_name%><br></td>
<td><%=x.price%><br></td>
<td><%=x.company_maker%><br></td>
<td><%=x.cocoa_percent%><br></td>
<td> <%=x.country_name%><br></td>
<td><%= button_to 'Add to Cart', line_items_path(chocolate_bar_id: x) %></td>
</tr>

 <%end%>
  </tbody>
</table>
 <table class="table">
  <thead>
 <tr>
    <th scope="col">Chocolate Bar name</th>
<th scope="col">Price</th>
<th scope="col">Company maker</th>
<th scope="col">Cacao percent</th>
<th scope="col">Country origin</th>
</tr>
<% @percents.each do |p|%>
 <tr>
<td><%=p.bar_name%><br></td>
<td><%=p.price%><br></td>
<td><%=p.company_maker%><br></td>
<td><%=p.cocoa_percent%><br></td>
<td> <%=p.country_name%><br></td>
<td><%= button_to 'Add to Cart', line_items_path(chocolate_bar_id: p) %></td>
</tr>

 <%end%>
  </tbody>
</table>
