<!-- https://rapidapi.com/blog/how-to-use-an-api-with-ruby/ -->
<!--https://rapidapi.com/natkapral/api/countries-cities?endpoint=apiendpoint_3d9d1d60-8bda-47d4-a003-2d46c7277b09-->
 <h1> Welcome to our live data page! Given that our bars are from all over the world, we provide this live data for our customers so that they can learn more information about the countries they are buying from. And here is our challenge for you: Do you know all countries based on their country codes? Hint take a look at the table below</h1>
<h3><i>Enter country code to find information about the country of origin for your chocolate bars</i></h3>
<%= form_tag livedata_path, method: "get" do %>
  <%= label_tag(:input, "Search for:") %>
  <%= text_field_tag :input, params[:input] %>
<% end %>





 <table class="table">
  <thead>
 <tr>
<%if @response%>
    <th scope="col">Capital</th>
<th scope="col">Area size</th>
<th scope="col">Continent name</th>
<th scope="col">Currency code</th>
<th scope="col">Timezone and time</th>
<th scope="col">Timezone </th>
</tr>

 <tr>
<td><%=@response.body['capital']%><br></td>
<td><%=@response.body['area_size']%><br></td>
<td><%=@response.body['continent']['name']%><br></td>
<td><%=@response.body['currency']['code']%><br></td>
<td> <%=@response.body['phone_code']%><br></td>
<td><%=@response.body['timezone']['time']%></td>
<td><%=@response.body['timezone']['timezone']%></td>
</tr>

 <%end%>
  </tbody>
 <h3>Can you guess the country based on the country code?</h3>
</table>
<table class="table">
  <thead>
 <tr>
   <th scope="col">Country Code</th>
</tr>
<%@code.each do |c|%>
 <tr>
<td><%=c.countrycode%><br></td>
</tr>
 <%end%>
  </tbody>
</table>
