<p id="notice"><%= notice %></p>
<%@cart.itemfor_cart.each do |product|%>
<%=product.chocolate_bar.bar_name%>
<%=product.quantity%> &times;%>
<%end%>
<%= link_to 'Edit', edit_product_cart_path(@product_cart) %> |
<%= link_to 'Back', product_carts_path %>
