<!-- https://womanonrails.com/leaflet -->

<!--https://stackoverflow.com/questions/17520177/passing-ruby-variables-to-javascript-ruby-on-rails-->
<!--code from team Bearded unicorn I was part of for AWAD group assignment 2019,Aberdeen university,lecturer Dr. Bruce Sharlau -->

<h3> We have chocolate bars from all over the world, zoom in to check if there is a chocolate bar from yours</h3>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<div id="map-holder">
<div class="container fill">
<div id="mapid"> </div>
</div>
</div>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<script>
//source https://leafletjs.com/
//https://womanonrails.com/leaflet

var xmap = L.map('mapid').setView([51.505, -0.09],3);
 L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      maxZoom: 18
  }).addTo(xmap);

<% @chocolatebar.each do |bar|%>
 marker<%=escape_javascript bar.id%> = L.marker([<%=escape_javascript bar.latitude%>, <%=escape_javascript bar.longitude%>]).addTo(xmap);
 marker<%=escape_javascript bar.id%>.bindPopup('<p>Name: <u><%=escape_javascript bar.bar_name%></u><br />Company maker: <b><%=escape_javascript bar.company_maker%></b><br /> <%=escape_javascript link_to 'Add to cart', controller: 'line_items', action: 'create', method: 'post', id: bar.id%>');
<%end%>

</script>

